*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.inner{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


.flex_col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
}

/* top banner */
.top_baner{
    width: 100%;
    background: linear-gradient(45deg, #149dcc, #ff3366) ;
}
input[type=file]{
    display: none;
}
.image{    
    width: 370px;
    height: 330px;    
    cursor: pointer;
    background-size: cover;
    object-fit: cover;  
    margin-right: 10px;

}
.img_wrapper{
    position: relative;
    display: inline-block;
}
.delete_icon{
    position: absolute;
    right: 0px;
    top: 0;
    color: #f70606;
    font-size: 27px;
    cursor: pointer;
    background-color: black;
}
.btn{
    color:#fff;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #149dcc;
    font-size: 20px;
    cursor: pointer;
   
}
.uplode{
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
}
.uplode_inner{
    border: 2px dashed #f3f3f3;
    padding: 60px;
}
.btn_submit{
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 10px 40px;
    background-color: #149dcc;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 25px;
}
#select_file_custom_text{
    color: #ff3366 ;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    text-align: center;
}


@media screen and (min-width:1023px){
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .div{
        
        height: auto;
        width: 250px;
        display: inline-block;
    }
    .image{    
        width:100%;
        height: 250px;   
        cursor: pointer;
        background-size: cover;
        object-fit: cover;  
        margin-right: 10px;
    
    }

}
